/*================================================
    Authour: Duncan Howard-McGuire
    https://github.com/duncanhm/js-pizza-menu
==================================================
    GENERIC STYLES
==================================================*/
html {
	
}

body {
	background: url(../img/pizzeria.jpeg) no-repeat fixed right top;
}



/*=======================================
  FOOTER STYLES
  =======================================*/
#footer {
    background-color: rgba(100,65,0,.3);
    color: #000;
	text-shadow: 2px 2px 8px 0 (0,0,0,0.4);
    padding: 20px 50px 20px 50px;
    text-align: center;
}